/* BOOTSTRAP OVERRIDES */
body {
	background-image: url("assets/img/bg.jpg");
}
/* COLOR PALETTE */

.opacity {
	opacity: 0.8;
}

.bg-dark-primary {
	background-color: #006de5;
}

.bg-pink {
	background-color: #FF65A9;
}

.text-pink {
	color: #FF65A9;
}

.border-pink {
	border-color: #FF65A9;
}

/* MEDIA QUERY */

@media (max-width: 500px) {
    #my-title, #my-heading {
        font-size: 1rem;
    }

    #my-main {
    	font-size: 2rem;
    }
}